



{{input type="number" value=searchId placeholder="Student Id..." id="search" class="prompt" focus-out="setSearch"}}


  {{#link-to 'home' searchId tagName="button"}}Search!{{/link-to}}
  
{{!--<button {{action 'searchStudent'}}>Search!</button>--}}