


<div class="ui icon input">
{{input type="number" value=searchId placeholder="Student Id..." id="search" class="prompt" focus-out="setSearch"}}


  {{#link-to 'home' searchId tagName="i"  class="inverted circular search link icon"}}{{/link-to}}
  
{{!--<button {{action 'searchStudent'}}>Search!</button>--}}
</div>