<h2>The Mike Smith Student Management System</h2>

<h4>
    By Liam, Jonathan, Mohit, Henry, Cam
</h4>

<P>
    Description: <br> This  a simple full stack web application based on Ember.js frontend framework that manages students’ records. <br>
    The server side is built on a REST API server hosted by Express.JS running on Node.JS framework. <br>
    Students’s records are saved on MongoDB database using Mongoose.
</P>

{{show-logo}}


<br><br><br>

