{{outlet}}

<h2>The Mike Smith Student Management System</h2>

<h4>
    By Liam, Jonathan, Mohit, Henry, Cam
</h4>

<P>
    <b> Description: </b> <br> This  a simple full stack web application based on Ember.js frontend framework that manages students’ records. <br>
    The server side is built on a REST API server hosted by Express.JS running on Node.JS framework. <br>
    Students’s records are saved on MongoDB database using Mongoose.
</P>

<br><br>
<p>
    <b> Functionality Description: </b> <br> <br>
    <b> Save: </b>  to save any changes made of the student record direct to the backend database. <br>
    <b> Undo: </b> to rollback one recent change made to the student record. <br>
    <b> First Record: </b> brings the data in the first student in the database and display it on the screen <br>
    <b> Previous Record: </b> to bring and show the data of the previous students from the students’ database that is
sorted by the student number. <br>
    <b> Next Record: </b> to bring and show the data of the next students from the students’ database that is sorted
by the student number. <br>
    <b> Last Records: </b> brings the data in the last student in the database and display it on the screen <br>
    <b> All: </b> display a list of all students exist in the database, along with an appropriate button to go back to the
single data entry view. <br>
    <b> Find Record: </b> search the students’ database to retrieve an individual student information based on a given
student number.
</p>

<br><br><br>

