<div class="ui segment container">
   
   <header >      
       
    <img class="ui small centered  image" src="/assets/images/mikesmith.png">
      <h1>The Mike Smith Student Management System</h1> 


      </header>
        
      <nav>
    <div class="ui inverted menu">
 
        <a class="item"> 
            <i class="edit icon"></i>
            Save
        </a>
        <a class="item"> 
            <i class="undo icon"></i>
            Undo
        </a>
        <a class="item"> 
            <i class="step backward icon"></i>
            First Record
        </a>
        <a class="item"> 
            <i class="caret left icon"></i>
            Previous Record
        </a>
             

        <a class="item"> 
            Next Record
            <i class="caret right icon"></i>
        </a>
        <a class="item"> 
            Last Record
            <i class="step forward icon"></i>
        </a>

         {{#link-to 'list'}}
        <a class="item"> 
            All Records
            <i class="list layout icon"></i>
        </a>
        {{/link-to}}



        
        <div class="right menu">

            <a class="item"> 
            <div class="ui search">
                <div class="ui icon input">
            {{!--<input type="text" id="search" class="prompt" placeholder="Student Id...">--}}
            {{!--<button {{action "search"}}>Search</button>--}}
{{search-button action="search" tagName="input" class="prompt" placeholder="Student Id..."}}
            <i class="search icon"></i>
              </div>
              <div class="results"></div>
            </div>

        </a>

              {{#link-to 'about' class="button"}}
            <a class="item"> 
               
                <i class="help circle icon"></i>
                Help
            </a>
               {{/link-to}}
        </div>

     
    </div>
    </nav>

      <div id="mainView">

{{outlet}}
</div>

    <footer>
        <div class="ui violet inverted grid segment">
            <div class="thirteen wide column">
                © Copyright - The Mike Smith Group
            </div>
            <div class="three wide column">
                <img class="ui right aligned container tiny image" src="/assets/images/UWO Stacked_Rev.png">
               
            </div>
           
        </div>
    </footer>

</div>