<div class="ui segment container">
   
   <header>
    <img class="ui small centered  image" src="/assets/images/mikesmith.png">
      <h1>The Mike Smith Student Management System</h1>
      </header>
      
      <nav>
    <div class="ui inverted menu">
        <a class="item">
        {{#link-to 'home' class="button"}}
            <i class="home icon"></i>
            {{/link-to}}
        </a>
        {{#link-to 'student' class="button"}}
        <a class="item">
        Student View
        </a>
        {{/link-to}}
        <div class="right menu">
         {{#link-to 'about' class="about"}}
            <a class="item">
            About
            </a>
            {{/link-to}}
        </div>
    </div>
    </nav>
    
      <div id="mainView">

{{outlet}}
</div>

    <footer>
        <div class="ui violet inverted grid segment">
            <div class="thirteen wide column">
                © Copyright - The Mike Smith Group
            </div>
            <div class="three wide column">
                <img class="ui right aligned container tiny image" src="/assets/images/UWO Stacked_Rev.png">
               
            </div>
           
        </div>
    </footer>

</div>