<h2> Student Display</h2>



<div class="ui grid">
  <div class="eight wide column">
    <div class="ui list">
      <div class="item">

        <h3> Student Number: </h3>
 
      </div>

      <div class="item">
      
         <h3> First Name: </h3>

      </div>

         <div class="item">
      
         <h3> Last Name: </h3>

      </div>

         <div class="item">
      
         <h3> Date Of Birth: </h3>

      </div>

         <div class="item">
      
         <h3> Residency: </h3>

      </div>

        <div class="item">
      
         <h3> Gender: </h3>

      </div>




    </div>
  </div>
  <div class="eight wide column">
    {{outlet}}
  </div>
</div>





<br><br><br>

